@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    html {
        font-size: 62.5%;
        font-family: 'Josefin Sans', sans-serif;
        user-select: text;
    }

    body::-webkit-scrollbar {
        width: 0.7rem;
    }

    body::-webkit-scrollbar-track-piece {
        margin: 0.1rem 0;
    }

    body::-webkit-scrollbar-thumb {
        border-radius: 1rem;
        background-color: black;
    }
}

@layer utilities {
    .b-full {
        @apply block text-black text-xs font-alata font-semibold tracking-widest uppercase border border-solid border-black;
    }
    
    .t-sm {
        @apply  w-[38rem] py-3 px-4 border-2;
    }
}
